
/*Header*/
/*Accordion*/
.Facts{
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
}
.table5{
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

}
.headi{
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
}
.accordionwhole{
  padding-bottom: 100px;
}
.accordion {
  background-color:#512DA8;
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 1px;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #957CAB; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: black;
  overflow: hidden;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  height: 400px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.grid-item3 {
  padding: 20px;
  text-align: center;
}
.grid-item3:hover{
  opacity: 0.8;
  cursor: pointer;
}
.caption{
  color: black;
}
.poloroidbody{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
div.polaroid {
  width: 400px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: floralwhite;
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.rotate_right {
  transform: rotate(7deg);
}

div.rotate_left {
  transform: rotate(-8deg);
}

blockquote{
  font-size: 120%;
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.quote{
  margin-top:150px;
  padding-top:20px;
  background-color: grey;
  width: 30%;
  height: 85px;
  margin-bottom: 100px;
}
.card-body{
  border-left: 2px dotted #512DA8;
  border-bottom: 2px dotted #512DA8;
  border-right: 2px dotted #512DA8;
    box-shadow: 0 0 2px 2px  floralwhite;
}
.card-body:hover{
  opacity: 0.7;
  cursor: pointer;
}
.cardhead{
   font-size: 130%;
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #512DA8;

}
.cardlist{
  color: floralwhite;
}
dt{
  color: floralwhite;
}
dd{
  color: floralwhite;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  height: 300px;
  margin-bottom: 40px;
  padding-bottom: 140px;
}
.grid-item1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #9575CD;
  padding: 10px;
  height: 300px;
  margin-bottom: 40px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h3 {
  font-size: 130%;
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
p{
  color: floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #512DA8;
  top: 0;
  position: fixed;
  width: 100%;  
 
}
li.nav1{
  float: left;
}

li.nav1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav1 a:hover {
  background-color: #9575CD;
}

.active1 {
  background-color:  #9575CD;
}







.footer{
  background-color: #D1C4E9;
  position: relative;
  float: bottom;
   left: 0;
   bottom: 0;
   width: 100%;

}
.gd1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
h4{
  font-size: 24px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gdi{
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
.li1{
font-size: 20px;
padding-right:20px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ulnew{
padding-left: 20px;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; 
}

.fab:hover {
    opacity: 0.7;
}


.fa-facebook {
  
  color:#3B5998;


}   
.fa-twitter{
 color: floralwhite;
}
.fa-linkedin{
color: #007bb5
}
.fa-instagram{
 color: #ba632d;
}


.size{
	padding:50px;
}