ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #512DA8;
  top: 0;
  left:0;
  width: 100%;
  position: fixed;

}

.grab{
  float: right;
}

li.nav1{
  float: left;
}

li.nav1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav1 a:hover {
  background-color: #9575CD;
}

.active1 {
  background-color:  #9575CD;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #9575CD;
  padding: 10px;
  height: 300px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h3 {
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
h2.cus{
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 210%;
  padding-left: 40px;
}
.locinfo{
  padding-left: 55px;
  font-size: 150%;
}
p{
  color: floralwhite;
}
body{
  background-color: black;
}
.footer{
  background-color: #D1C4E9;
  position: relative;
  float: bottom;
   left: 0;
   bottom: 0;
   width: 100%;

}
.gd1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
h4{
  font-size: 24px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gdi{
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
.li1{
font-size: 20px;
padding-right:20px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ulnew{
padding-left: 20px;
}
address.ad1 {
  font-size: 80%;
  margin: 0px;
  padding: 10px;
  color: floralwhite; 
}
address.ad2 {
  font-size: 80%;
  margin: 0px;
  padding: 10px;
  color: black; 
}
select {
  width: 10%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: floralwhite;
  font-size: 100%;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.inp{
  font-size: 140%;
}
.form-control{
   color: floralwhite;
   font-size: 100%;
   line-height: 1.5;
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
   box-sizing: border-box;
   border: 3px solid white;
   border-radius: 4px;
   background-color: black;
}
form.feedback{
  padding-left: 55px;
  color: floralwhite;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.submitbtn {
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: #FFFFFF;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
  }
  .submitbtn:hover{
    opacity: 0.7;
  }


.fas:hover{
  opacity: 0.7;
}
.fa-id-card{
  border-color: floralwhite;
}
.fab:hover {
    opacity: 0.7;
}


.fa-facebook {
  
  color:#3B5998;


}   
.fa-twitter{
 color: floralwhite;
}
.fa-linkedin{
color: #007bb5
}
.fa-instagram{
 color: #ba632d;
}
.namecolor{
  color: floralwhite;
  font-size: 100%;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}