.reserve{
  width: 40px;
  background-color: gold;
  color: floralwhite;
   font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
   padding: 20px;
  font-size: 30px;
  text-align: center;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #512DA8;
  top: 0;
  left:0;
  width: 100%;
  position: fixed;

}

.grab{
  float: right;
}

li.nav1{
  float: left;
}

li.nav1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav1 a:hover {
  background-color: #9575CD;
}

.active1 {
  background-color:  #9575CD;
}

button{
  background-color:#512DA8;
  vertical-align: bottom; 
}
/* The Modal (background) */
.modal {
  display:none ; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #9575CD;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.inputlabel{
 font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5; 
}
.button1{
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.container{
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #9575CD;
  padding: 10px;
  height: 300px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h3 {
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.bd1{
  color:floralwhite;
  font-family:  fantasy; 
  font-size: 300%;

}
p{
  color: floralwhite;
}
.it1{
  grid-column: 1/5;
}
.container1{
  left: 0;

  width: 100%;
  height: 1200px;
  background-image:url('bghome.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;  
  background-size: cover;
}
.bd1{
  color:floralwhite;
  font-family:  fantasy; 
  font-size: 300%;

}
.container2{
  left: 0;
  top: 0;
  width: 100%;
  height: 1400px;
  background-image:url('bghome1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;  
  background-size: cover;
}
.bd2{
  color: black;
  font-family: fantasy;
  font-size: 300%;
  padding-left: 40px;

}

.pd2{
  font-size: 170%;
  color:black;
  padding-left: 40px;
}


 .hd1{
  color: orange;
  font-size: 40px;
  padding-right: 400px;
  padding-top: 420px;

}
 .hd2{
  font-weight: bold;
  color: purple;
  font-size: 40px;
  padding-top: 400px ;
  padding-left: 60px;
 }
.heading1{
  float: right;
}
.footer{
  background-color: #D1C4E9;
  position: relative;
  float: bottom;
   left: 0;
   bottom: 0;
   width: 100%;

}
.gd1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
h4{
  font-size: 24px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gdi{
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
.li1{
font-size: 20px;
padding-right:20px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ulnew{
padding-left: 20px;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; 
}

.fab:hover {
    opacity: 0.7;
}


.fa-facebook {
  
  color:#3B5998;


}   
.fa-twitter{
 color: floralwhite;
}
.fa-linkedin{
color: #007bb5
}
.fa-instagram{
 color: #ba632d;
}
body{
  background-color: black;
}
.bton1{
  padding-top: 40px;
}
.button{
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: floralwhite;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonr{
  display: inline-block;
  border-radius: 4px;
  background-color: gold;
  border: none;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.buttonr span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonr span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonr:hover span {
  padding-right: 25px;
}

.buttonr:hover span:after {
  opacity: 1;
  right: 0;
}
