/*Header*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #9575CD;
  padding: 10px;
  height: 300px;
  margin-bottom: 40px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h3 {
  color:floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
p{
  color: floralwhite;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.sideimg{
  float: right;
  margin-right: 250px;
}
pre{
  color: floralwhite;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; 
}


.menubar
{
	width:100%;
	background-color:black;
	color:white;
	text-align:center;
	font-family:fantasy;
	height:60px;
	padding:10px;
	font-size:30px;
}

.b {
  border-radius: 4px;
  background-image:url(food.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  border: none;
  color: #17202A;
  text-align: center;
  font-size: 20px;
  width: 400px;
  padding:50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-stretch:50px;
}

.b span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.b span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.b:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.fries
{
	background-color: black;
}
td.rht
{
	background-image:url(fries.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	text-align:right;
    height: 500px;
	color:red;
}

.textintd
{
	font-size: 50px;
	font-family: fantasy;
	font-style:bold;
	color:	#4A235A;
}
.textintd:hover
{
	font-size: 40px;
	font-style:bold;
	font-family: fantasy;
	color:	#283747;
}
td.rht1
{
	background-image:url(beverages2.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	text-align:left;
    height: 500px;
	color:red;
}
td.rht2
{
	background-image:url(pizza1.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	text-align:right;
    height: 500px;
	color:red;
}
td.rht3
{
	background-image:url(https://i.pinimg.com/originals/f3/0b/30/f30b302d07d3cc4a8cbbe9ab00dd7246.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	text-align:left;
    height: 500px;
	color:floralwhite;
}
td.c{
	background-color: black;
	width:20%;
}
img{
	border:0px solid #9575CD;
}

li:last-child{ float:right;
}
.image{
	display:block;
width:70%;
height:80%;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #512DA8;
  top: 0;
  left:0;
  width: 100%;
  position: fixed;
 
}
li.nav1{
  float: left;
}

li.nav1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav1 a:hover {
  background-color: #9575CD;
}

.active1 {
  background-color:  #9575CD;
}

button{
  background-color:#512DA8;
  vertical-align: bottom; 
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0; background-color:black;}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 2000px;
  margin-left: 100px;
  margin-right: 100px;

  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  background-color:grey;
  border-radius: 3px 0 0 3px;
}

.prev{
	 background-color:grey;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #17202A;
  font-family:fantasy;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #9575CD;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.chef
{
	float:left;
	vertical-align:middle;
  margin-left: 20px;
}

.footer{
  background-color: #D1C4E9;
  position: relative;
  float: bottom;
   left: 0;
   bottom: 0;
   width: 100%;

}
.gd1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
h4{
  font-size: 24px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gdi{
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
.li1{
font-size: 20px;
padding-right:20px;
  line-height: 1.5;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ulnew{
padding-left: 20px;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; 
}

.fab:hover {
    opacity: 0.7;
}


.fa-facebook {
  
  color:#3B5998;


}   
.fa-twitter{
 color: floralwhite;
}
.fa-linkedin{
color: #007bb5
}
.fa-instagram{
 color: #ba632d;
}